<section class="bg-primary-50 dark:bg-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-8 text-center">
    <h1 class="text-2xl">(إِنَّ الصَّلَاةَ كَانَتْ عَلَى الْمُؤْمِنِينَ كِتَابًا مَوْقُوتًا) [النساء:103]</h1>
  </div>
</section>
<style>
  h1 {
    font-family: 'arabic', sans-serif;
    direction: rtl;
  }
</style>
