---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import MySwiper from '~/components/widgets/MySwiper.jsx';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: 'Add to Slack',
      href: 'https://7qx2m6kbf5.execute-api.us-east-1.amazonaws.com/slack/install',
      icon: 'logos:slack-icon',
    }}
    callToAction2={{
      text: 'Github',
      href: 'https://github.com/NurdinDev/adhan-app-for-slack',
      icon: 'mdi:github',
    }}
  >
    <Fragment slot="title">
      Adhan app for <span>Slack</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold underline decoration-wavy decoration-1 decoration-primary-600 underline-offset-2"
          >Adhan.</span
        >
        is an Islamic prayer times reminder configurable and simple to use, the App job is to help you remember praying before
        the next prayer time by sending a friendly notification.
      </span>
    </Fragment>
  </Hero>
  <!-- Note Widget ******************* -->

  <Note />

  <section>
    <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
      <MySwiper client:load />
    </div>
  </section>
</Layout>
