---
import { Image } from '@astrojs/image/components';
import logo from '../../assets/images/prayer.png';
---

<div class="flex items-center">
  <Image src={logo} alt="logo" width="50" height="50" class="rounded-full" />
  <span class="font-bold ml-2"> Adhan</span>
</div>
